:root {
    --main-font-family: 'Roboto', sans-serif;
    --secondary-font-family-family: 'Raleway', sans-serif;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
h1,h2,h3,h4,p {
    margin-top: 0;
    margin-bottom: 0;
}
ul,ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img {
    display: block;
}
button {
    cursor: pointer;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* ================= /HEADER ================= */

.page-header {
    display: flex;
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.page-header-container {
    display: flex;
    align-items: center;
}
.page-navigation {
    display: flex;
    align-items: center;
}
.menu {
    display: flex;
    gap: 40px;
    padding: 24px 0;
}
.address-page {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.address-list {
    display: flex;
    gap: 40px;
}
.logotype {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4D5AE5;
    margin-right: 76px;
}
.span-studio {
    color: #2E2F42;
}
.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding: 24px 0;
}
.menu-link:hover,
.menu-link:focus {
    color: #404BBF;
}
address {
    font-style: normal;
}
.contact {
    font-style:normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.contact:hover,
.contact:focus {
    color: #404BBF;
}
.current {
    color: #404BBF;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current::after {
    content:'';
    background-color: #404BBF;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    left: 0px;
    bottom: -1px;
    display: block;
    position: absolute;
}

/* ================= /HERO ================= */

.hero-section {
    background-color: #2E2F42;
    text-align: center;
    align-items: center;
    padding-top: 188px;
    padding-bottom: 188px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
        url(../images/hero/bg-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    }
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 46px;
    margin-right: auto;
    margin-left: auto;
    max-width: 496px;
}
.modal-open-btn {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    height: 56px;
    min-width: 169px;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #FFFFFF;
    background: #4D5AE5;
    margin-right: auto;
    margin-left: auto;
    letter-spacing: 0.04em;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-open-btn:hover,
.modal-open-btn:focus {
    background: #404BBF;
}

/* ================= /ABOUT COMPANY ================= */

.about-company {
    padding-top: 120px;
    padding-bottom: 120px;
}
.about-company-title {
    color: #2e2f42;
}
.icon-about-company {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F4F4FD;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
}
.about-company-list {
    display: flex;
    gap: 24px;
}
.about-company-item {
    flex-basis: calc((100% - 72px) / 4);
}
.advantages {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.description-advantages {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ================= /OUR WORKS ================= */

.our-works {
    padding-top: 0;
    padding-bottom: 120px;
}
.our-works-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 72px;
}
.our-works-list {
    display: flex;
    gap: 24px;
    }
.our-works-item {
    border: 1px solid #E7E9FC;
    width: calc((100% - 48px) / 3);
}

/* ================= /OUR TEAM ================= */

.our-team {
    background: #F4F4FD;
    padding-bottom: 120px;
    padding-top: 120px;
}
.our-team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}
.our-team-list {
    display: flex;
    gap: 24px;
}
.our-team-item-text {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    padding: 32px 0px;
}
.our-team-item {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
}
.name-person {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.description-person {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 8px;
}
.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #4D5AE5;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-icon {
    fill: #f4f4fd;
}
.social-list-link:hover,
.social-list-link:focus {
    background-color: #404BBF;
}

/* ================= /Customers ================= */

.customers-logo {
    padding-bottom: 120px;
    padding-top: 120px;
}
.customers-logo-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}
.customers-logo-list {
    display: flex;
    gap: 24px;
}
.customers-logo-item {
    flex-basis: calc((100% - 120px) / 6);
    height: 88px;
}
.customers-logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    color: #8E8F99;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-logo-link:hover,
.customers-logo-link:focus {
    border: 1px solid #404BBF;
    border-radius: 4px;
    color: #404BBF;
}
.customers-icon {
    fill: currentColor;
}
.customers-icon:hover,
.customers-icon:focus  {
    fill: #404BBF;
}

/* ================= /FOOTER ================= */

.page-footer {
    display: flex;
    background-color:#2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-logotype {
    display: inline-block;
    margin-bottom: 16px;
}
.span-studio-footer {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #F4F4FD;
}
.desrciption-footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}
.all-footer {
    display: flex;
    align-items: baseline;
}
.footer-container {
    margin-right: 120px;
}
.social-list-footer {
    display: flex;
    gap: 16px;
}
.description-social-media{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.social-list-link-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #4D5AE5;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link-footer:hover,
.social-list-link-footer:focus {
   background-color: #31D0AA;
}
.social-list-icon-footer {
    fill: #f4f4fd;
}

.footer-subscrible{
    margin-left: 80px;
}

.footer-subscrible-text{
    font-family: 'Roboto' sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-subscrible-form{
    display: flex;
}

.footer-subscrible-field{
    margin-right: 24px;
}

.footer-subscrible-input{
    width: 264px;
    height: 40px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #FFFFFF;
}

.footer-subscrible-input::placeholder{
    color: #FFFFFF;
}

.footer-subscrible-button{
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif
    font-weight:500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}

.footer-subscrible-icon{
    margin-left: 16px;
}

/* ================= /PORTFOLIO ================= */

.filters {
    padding: 96px 0 120px;
}
.filters-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}
.filters-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #4D5AE5;
    background: #F4F4FD;
    padding: 12px 24px;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}
.filters-btn:hover,
.filters-btn:focus {
    background: #404BBF;
    color: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 
        0px 2px 2px rgba(0, 0, 0, 0.12)
}
.galery-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.galery-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.galery-item {
    border: 1px solid #E7E9FC;
    width: calc((100% - 48px) / 3);
}
.galery-link:hover,
.galery-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
.subtitle-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.description-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ================= MODAL WINDOW ================= */
.backdrop {
position: fixed;
top: 0;
left: 0;
z-index: 100;
width: 100%;
height: 100%;
background: rgba(46, 47, 66, 0.4);
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    height: 584px;
    min-height: 576px;
    padding: 72px 24px 24px 24px;
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 
        0px 1px 3px rgba(0, 0, 0, 0.12), 
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404BBF;
    border: none;
}
.modal-close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
    fill: #FFFFFF;
}
.contact-form-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.contact-form-input-field-wrapper{ 
    margin-bottom: 8px;
}
.contact-form-field-desc{
    margin-bottom: 4px;
}

.contact-form-input-wrapper{
    position: relative;
    display: block;
}

.contact-form-textarea-field-wrapper{
    margin-bottom: 16px;
}

.contact-form-field-wrapper,
.contact-form-checkbox-wrapper{
    display: block;
}

.contact-form-field-wrapper{
    margin-bottom: 4px;
    display: block;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    
}

.contact-form-input{
    width: 100%;
    height: 40px;
    padding-left: 38px;
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    border: 1px solid rgba(46, 47, 66, 0.2);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus {
    outline: none;
    border-color: #4D5AE5;
}

.contact-form-input-icon{
    position: absolute;
    display: block;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    color: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus +.contact-form-input-icon {
    fill:  #4D5AE5;
}

.contact-form-massage{
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    resize: none;
    padding: 8px 16px;
    border: 1px solid rgba(46, 47, 66, 0.2);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-massage::placeholder {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.contact-form-massage:focus {
    outline: none;
    border-color: #4D5AE5;
}

.contact-form-checkbox-wrapper {
    margin-bottom: 24px;
}

.contact-form-checkbox {
    appearance: none;
    position: absolute;
}

.contact-form-checkbox-privacy {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.contact-form-own-checkbox {
    fill: #F4F4FD;
    cursor: pointer;
}

.contact-form-checkbox-custom{ 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    width: 16px;
    height: 16px;
    border: 1px solid #2E2F42;
    border-radius: 2px;
}

.contact-form-checkbox:checked+.contact-form-checkbox-privacy>.contact-form-checkbox-custom {
    background-color: #404BBF;
    border: none;
    border-color: #404BBF;
    fill: #FFFFFF;
}

.link-policy{
    color: #4d5ae5;
}


.contact-form-submit {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    height: 56px;
    min-width: 169px;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #FFFFFF;
    background: #4D5AE5;
    margin-right: auto;
    margin-left: auto;
    letter-spacing: 0.04em;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-submit:hover,
.contact-form-submit:focus {
    background: #404BBF;
}

/* ================= OVERLAY GALERY ================= */
.div-galery-img {
    position: relative;
    overflow: hidden;
}
.galery-link:hover .text-overlay,
.galery-link:focus .text-overlay {
    transform: translateY(0%);
}
.text-overlay {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    padding: 40px 32px;
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}